/*--------------------------------------------------------------------- 
File Name: style.css 
---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- 
import Fonts 
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);

/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

body {
     background-color: #000;
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     padding: 0;
     font-weight: 400;
     font-size: 17px;
     line-height: 28px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

.titlepage {
     padding-bottom: 60px;
}

.titlepage::before {
     content: "";
     position: absolute;
     border: #fff solid 5px;
     border-width: 5px;
     width: 80px;
     z-index: 999;
     margin: 0 auto;
     left: 0;
     right: 0;
     top: 55px;
}

.titlepage h2 {
     font-size: 45px;
     font-weight: bold;
     line-height: 50px;
     color: #5c8d32;
}

.read_more {
     display: inline-block;
     background: #6dcff6;
     color: #fff;
     max-width: 215px;
     height: 61px;
     line-height: 61px;
     width: 100%;
     font-size: 17px;
     text-align: center;
     font-weight: 500;
     transition: ease-in all 0.5s;
}

.read_more:hover {
     background: #0e0b01;
     color: #fff;
     transition: ease-in all 0.5s;
}

.img_responsive {
     max-width: 100%;
}

.text_align_center {
     text-align: center;
}

.text_align_left {
     text-align: left;
}

.text_align_right {
     text-align: right;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.container {
     max-width: 1170px;
}


/*--------------------------------------------------------------------- 
header 
---------------------------------------------------------------------*/

.header {
     width: 100%;
     background: rgba(39, 43, 44, 0.87);
     padding: 16px 12px;
     position: absolute;
     z-index: 999;
     box-shadow: 3px 0 13px rgba(30, 30, 30, 0.90);
}

.fa-twitter,
.fa-envelope {
     color: #5c8d32;
}


/** contact section **/

.contact {
     background: #000 url('../images/background.png');
     padding: 192px 0 152px 0;
     min-height: 1000px;
}

.contact .titlepage::before {
     right: inherit;
     border: #5c8d32 solid 5px;
     left: 15px;
}

.main_form .contactus {
     border: #d2d2d3 solid 1px;
     padding: 0 15px;
     margin-bottom: 25px;
     width: 100%;
     height: 71px;
     background: #fff;
     color: #888888;
     font-size: 16px;
     font-weight: normal;
}

.main_form .textarea {
     border: #d2d2d3 solid 1px;
     margin-bottom: 25px;
     width: 100%;
     background: #fff;
     color: #888888;
     font-size: 18px;
     font-weight: normal;
     padding: 57px 15px 0 15px;
     border-radius: 0;
     height: 150px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #323232;
     text-transform: uppercase;
     color: #5c8d32;
     padding: 25px 0px;
     max-width: 252px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: bold;
}

.main_form .send_btn:hover {
     background-color: #464646c7;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #888888;
     opacity: 1;
}

.tl_link {
     margin-left: 98px;
}

.tl_link:hover {
     color: #5c8d32;
}

.intro-paragraph {
     color: #5c8d32;
}


/** end contact section **/


/** footer **/

.footer {
     /*background: #222222;
     padding-top: 90px*/
     position: fixed;
     bottom: 0;
     width: 100%;
}

.newslatter_form {
     display: flex;
     align-items: center;
     margin-bottom: 70px;
}

.ente {
     color: #000;
     border: inherit;
     padding: 0 30px;
     height: 66px;
     width: 100%;
     font-size: 17px;
}

.subs_btn {
     max-width: 289px;
     display: inline-block;
     background: #151515;
     height: 66px;
     width: 100%;
     color: #fff;
     font-size: 17px;
     text-transform: uppercase;
     font-weight: bold;
     transition: ease-in all 0.5s;
}

.subs_btn:hover {
     background: #fff;
     color: #151515;
     transition: ease-in all 0.5s;
}

.Informa h3 {
     color: #ffffff;
     font-size: 23px;
     font-weight: bold;
     line-height: 21px;
     margin-bottom: 15px;
     margin-top: 26px;
     text-transform: uppercase;
}

.Informa li {
     font-size: 17px;
     line-height: 37px;
     color: #ffffff;
}

.Informa li a:hover {
     color: #bdbdbe;
}

.helpful ul li a {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
}

.helpful ul li a:hover {
     color: #bdbdbe;
}

ul.social_icon {
     float: right;
}

ul.social_icon li {
     display: inline-block;
     padding-right: 15px;
}

ul.social_icon li:last-child {
     padding-right: 0;
}

ul.social_icon li a {
     color: #fff;
     display: inline-block;
     text-align: center;
     line-height: 33px;
     font-size: 28px;
     font-weight: bold;
}

ul.social_icon li a:hover {
     color: #bdbdbe;
     transform: rotate(360deg);
     transition: ease-in all 0.7s;
}

.conta ul li a {
     color: #ffffff;
}

.conta ul li a i {
     padding-right: 5px;
}

.copyright {
     background: #151515;
     padding: 20px 0px;
}

.copyright p {
     color: #5c8d32;
     font-weight: 400;
}

.copyright a {
     color: #5c8d32;
}

.copyright a:hover {
     color: #fff;
}


/** end footer **/


/*- - ener page css--*/

.inner_page .header {
     box-shadow: 0 -3px 20px 0px #717171;
     position: inherit;
   
}

.inner_page .about {
     margin: 90px 0;
}